/* ============================= */
/* CSS Reset =================== */
/* ============================= */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

body {
   line-height: 1;
}

ol,
ul {
   list-style: none;
}

blockquote,
q {
   quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: "";
   content: none;
}

table {
   border-spacing: 0;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

/* ============================= */
/* Mobile First Styling ======== */
/* ============================= */

body {
  background-color: blue;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes waves {
   0% {transform: translateX(-10%);}
   50% {transform: translateX(0%);}
   100% {transform: translateX(-10%);}
   
}

.background-waves {
   display: flex;
     justify-content: center;
     align-items: center;
  position: relative;
  height: 100svh;
  box-sizing: border-box;  
}

.background-waves::before {
   content: "";
   position: absolute;
   background-image: url(/img/waves.jpg);
   background-size: cover;
   height: 100%;
   width: 125%;
   animation: waves infinite ease-in-out 5s normal none;
   z-index: -1;
}

.container {
   position: relative;
   
      display: flex;
     justify-content: center;
     align-items: center;
   width: 100%;
   height: 100%;
}

.welcome-message {
  display: flex;
  background-color: aliceblue;
  box-shadow: 0px 0px 3px 3px rgb(50, 50, 50);
  width: 50%;
  height: 35%;
}

.score-counter {
   display: none;
   align-self: flex-start;
   width: 150px;
   height: 30px;
   opacity: 100%;
   background-color: cyan;
   border: 3px solid rgb(50, 50, 50);
   text-align: center;
   padding-top: 4px;
   z-index: 1;
}

.game-over-message {
   display: none;
   background-color: aliceblue;
   box-shadow: 0px 0px 3px 3px rgb(50, 50, 50);
   width: 50%;
   height: 35%;
   z-index: 1;
}

h1 {
  color: red;
}

.fish {
   width: 50px;
   height: 15%;
}

.shark {
   position: absolute;
   top: 0;
   right: 0;
   width: 5em;
   height: 25%;
   background-color: brown;
   /* box shadow on left side of shark to reduce
   gap between fish and shark when fish is removed. */
   box-shadow: -4.5px 0px 0px 0px brown;
}

.finish-message{
   display: none;
   position: absolute;
}

.loading-box {
   display: flex;
   align-items: center;
   justify-content: center;
}

.loading {
   width: 50%;
}